/* App.css */
/* Center the content horizontally and vertically */
body {
  background-image: url("https://wallpapers.com/images/hd/aesthetic-anime-background-yg9oktnebpzw0btw.jpg") ;
  background-size:100% 100%; /* Use 'cover' to ensure the image covers the viewport */
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: auto;
}

body::before {
  content: "";
  background: inherit;
  filter: blur(6px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.App {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  min-width: 100vh; /* This ensures the content takes up the full viewport height */
}

/* Add any other table styles here */
table {
  background-color: rgba(255, 255, 255, 0.6); /* Adjust the background color and opacity as needed */
  padding: 20px;
  border-radius: 10px;
  backdrop-filter: blur(8px); /* Adjust the blur radius as needed */
  border: 1px solid black;
  width: 60%;
  height: 50%;
  margin-bottom: 20px;
}
.button {
  font-weight: normal !important;
  font-size: 15px !important;
  text-decoration: none !important; 
  background-color: #050404; /* Orange */
  color: rgb(250, 250, 250);
  padding: 7px 12px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease; /* Smooth transition on hover */
  margin-bottom: 20px;
  margin-top: -8px;
}
.button:hover {
  background-color: #d37254; /* Slightly darker orange on hover */
  color:#050404
}

.edit2:hover {
  background-color: #d37254; /* Slightly darker orange on hover */
  color:#050404
}
#heading{
  transform: translate(-1%, 1%);
}

.login {
  position: fixed;
  display: grid;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -100%);
  background-color: rgba(255, 255, 255, 0.4); /* Transparent background */
  backdrop-filter: blur(10px); /* Adjust the blur amount as needed */
  padding: 100px;
  width: 200px;
  height: 200px;
  padding-top: 10px;
  padding-bottom: 160px;
  border-radius: 18px;
  border: 1px solid #d37254;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Add a shadow for depth */
}
.Fields{
  position: relative;
}
.Fields input {
  margin-bottom: 10px;
  text-align: center;
  width: 310px;
  height: 25px;
  padding: 10px;
  border: 1px solid #ea6565;
  border-radius: 5px;
  font-size: 16px;
  background-color:  rgba(255, 255, 255, 0.8);
  color: #333;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.Fields input:focus{
  border-color: #007bff; /* Change border color when focused */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Add a subtle shadow on focus */
}

table th, table td {
  border: 1px solid black;
  padding: 8px;
  text-align: center; /* Center the content horizontally within the cells */
}

table th {
  font-weight: bold; /* Make the table header text bold */
}

.heading {
  font-size: 36px;
  color: rgb(19, 10, 10); /* Retro pink text color */
  text-shadow: 1px 1px 0px #ddd9d9, 2px 3px 0px #333; /* Simulated 3D effect */
  text-transform: uppercase; /* Uppercase text */
  letter-spacing: 5px; /* Wider letter spacing */
  background-color: rgba(113, 91, 97, 0.1); /* Adjust the background color and opacity as needed */
  border-radius: 10px;
  padding-inline: 2%;
}
/* Hover effect for the heading */
.edit{
  font-size: 36px;
  color: rgb(19, 10, 10); /* Retro pink text color */
  text-shadow: 1px 1px 0px #ddd9d9, 2px 3px 0px #333; /* Simulated 3D effect */
  text-transform: uppercase; /* Uppercase text */
  letter-spacing: 5px; /* Wider letter spacing */
  background-color: rgba(113, 91, 97, 0.1); /* Adjust the background color and opacity as needed */
  border-radius: 10px;
  padding-inline: 2%;
  text-align: center
}
.completed {
  text-decoration: line-through;
}
@media screen and (max-width: 576px) {
  body {
    font-size: 16px;
  }
}
.xbutton{
  font-weight: normal !important;
  font-size: 12px !important;
  text-decoration: none !important; 
  background-color: #050404; /* Orange */
  color: rgb(250, 250, 250);
  padding: 3px 5px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}
.xbutton:hover {
  background-color: #d37254; /* Slightly darker orange on hover */
  color:#050404
}
.edit2 {
  font-weight: normal !important;
  font-size: 12px !important;
  text-decoration: none !important; 
  background-color: #050404; /* Orange */
  color: rgb(250, 250, 250);
  padding: 7px 12px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease; /* Smooth transition on hover */
}